.detail-order-adm {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 250px;
  width: 30%;
  min-width: 400px;
  font-weight: bold;
  font-size: 30px;
}

.order-status-adm {
  display: flex;
  flex-direction: row;
}

.order-items-adm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  font-weight: bold;
  font-size: large;
  width: 100%;
}

.order-items-adm ul {
  list-style-type: none;
  padding: 0px 5px;
  margin-left: 5px;
}

.price-order {
  font-size: 30px;
  text-align: right;
  margin-right: 10px;
}

.delivered-button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 10px;
  align-self: flex-end;
}

.status {
  color: #e9925c;
}

.status-entregue {
  color: green;
}