.ordersmaincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.orderscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  width: 90vw;
}

.margintop {
  margin-top: 120px;
}

.ordercontainer {
  background-color: rgb(245,245,245);
  border: none;
  box-shadow: 4px 4px 16px -3px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

.ordercontainer:hover {
  transform: scale(1.05);
}

.inlinestyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ordervalue {
  font-size: large;
  font-weight: bold;
}