.footer {
  background-color: #13BBAF;
  bottom: 0;
  border-radius: 34px 35px 0 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 360px;
}

.footer button {
  background-color: #13BBAF;
  border: none;
  border-radius: 36px;
  padding: 12px 0;
}

.footer a {
  font-size: 14px;
  text-decoration: none;
}