@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.details-container {
  font-family: 'Cinzel Decorative', cursive;
  width: 360px;
  color: white;
}

.details-container img {
  width: 100%;
  border-radius: 0 0 60px 60px;
}

.details-nav {
  align-items: center;
  display: flex;
  width: 360px;
  height: 80px;
  font-family: 'Cinzel Decorative', cursive;
  justify-content: space-around;
  position: relative;
  top: -85px;
  background-color: #13BBAF;
  border-radius: 0 0 36px 36px;
}

.details-nav button {
  background-color: #13BBAF;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 36px;
}

.name-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 5px;
}

.ing-inst {
  position: relative;
  top: -85px;
  
}

.recipe-ingredients li {
  list-style: none;
  margin-left: 20px;
  font-size: 14px;
}

.recipe-ingredients h5 {
  font-size: 23px;
  margin-left: 10px;
}

.recipe-instructions h5 {
  font-size: 23px;
  margin-left: 10px;
}

.recipe-instructions p {
  text-align: center;
  font-size: 14px;
  margin-left: 25px;
}

/* comida */

.food-recipe-instructions {
  position: relative;
  top: -85px;
}

video {
  position: relative;
  margin: 15px 5px;
  top: -85px;
  width: 100%;
}

.start-continue-recipe-btn {
  background-color: #13BBAF;
  border-radius: 50%;
  bottom: 0;
  color: white;
  font-family: 'Cinzel Decorative', cursive;
  height: 100px;
  margin-left: 130px;
  padding: 5px;
  position: fixed;
  width: 100px;
}